@import url('https://fonts.cdnfonts.com/css/kiona-2');
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
}
/* BARRA DE NAVEGACIÓN */

.navigation{
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: flex;
    width: 15vh;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: 'Kiona', sans-serif;
    transform: rotate(-90deg);
    font-size: 24px;
}

.navigation a{
    text-decoration: none;
    color: black;
    margin-left: 30%;
}



/* PORTADA */
.portrait{
    width: 80%;
    height: 80%;
    margin: auto;
    /* background-color: #E3E3E3; */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.202);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18);
    margin-top: 5%;
    position: relative;
}

section{
    width: 100%;
    height: 100vh;
    /* Hace que el scroll se vaya directamente al proximo section */
}

.logo{
    display: block;
    margin: auto;
    margin-bottom: 15%;
    z-index: 1;
    width: 50%;
}

/* CARTAS */

.card{
    width: 70%;
    height: 70vh;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.202);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media only screen and (max-width: 600px) {
    .card {
      width: 100%;
      height: 100%;
    }

    .coverImg{
        display: none;
    }

    .description{
        width: 80%;
    }

    .line{
        display: none;
    }
  }

/* INTRODUCCION */
.title{
    width: 100%;
    margin: auto;
    font-family: 'Kiona', sans-serif;
    line-height: 33px;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* linea entre titulo y descripción */
.line{
    margin-left: 50%;
    border-left: 1px solid #333;
    height: 50px;
    margin-bottom: 40px;
}

.description{
    width: 50%;
    height: 100%;
    margin-top: 40%;
    margin: auto;
    font-family: 'Kiona', sans-serif;
    text-align: center;
    line-height: 33px;
    color: #333;
}


/* CIUDAD */

.coverImg{
    height: 100%; 
    width: 30%;
    object-fit: cover;
    position: absolute;
}

.titlePM{
    display: flex;
    float: right;
    background-color: red;
    width: 70%;
}