@import url('https://fonts.cdnfonts.com/css/kiona-2');
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Kiona', sans-serif;
    background-color: #F4F4F4;
}
/* BARRA DE NAVEGACIÓN */
nav {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin-left: 5%;
}

/* PORTADA */
.portrait{
    width: 80%;
    height: 80%;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.202);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18);
    margin-top: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portada{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 50%;
}

/* CARTAS */

.card{
    width: 70%;
    height: 70vh;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.202);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}  

/* INTRODUCCION */
.title{
    width: 100%;
    margin: auto;
    font-family: 'Kiona', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 3%;
}

/* linea entre titulo y descripción */
.line{
    margin-left: 50%;
    border-left: 1px solid #333;
    height: 50px;
    margin-bottom: 30px;
}

.description{
    width: 50%;
    margin-top: 10%;
    margin: auto;
    font-family: 'Kiona', sans-serif;
    text-align: center;
    line-height: 33px;
    color: #333;
    margin-bottom: 10%;
}

/* CIUDAD */

button{
    margin-top: 40px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(206, 206, 206);
}

a{
    text-decoration: none;
    color: #333;
}

.city{
    width: 100%;
}

.coverImg{
    height: 100%; 
    width: 40%;
    object-fit: cover;
    position: absolute;
}

.titlePM{
    display: flex;
    float: right;
    width: 60%;
    margin: 0px auto 40px;
    font-family: Kiona, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 33px;
    font-weight: 400;
}

.cityTitle{
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 2em;
    text-align: left;
}

.cityDesc{
    width: 40%;
    height: 100%;
    margin-top: 20%;
    margin-left: 46%;
    font-family: 'Kiona', sans-serif;
    line-height: 33px;
    font-size: 15px;
    color: #333;
}

/* CARROUSEL */

.gallery{
    width: 100%;
    height: 80vh;
    margin-bottom: 5%;
}

.gallery-cell{
    width: 70%;
    height: 70vh;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.202);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gallery-cell::before{
    /* content: counter(gallery-cell); */
    display: block;
}

/* CIUDADES */
.navLogo{
    position: absolute;
}

.introduction{
    width: 70%;
    height: 30vh;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.202);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 5%;
}

.introduction img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute;
    z-index: -1;
}

.introTitle{
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.ibiza{
    width: 70%;
}

.map{
    width: 70%;
    height: 30vh;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.202);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

iframe{
    width: 100%;
    height: 100%;
}

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
    nav{
        display: none;
    }
    .portrait{
        width: 80%;
        height: 90%;
    }
    .card {
      width: 80%;
      /* height: 90%; */
    }

    .coverImg{
        filter: brightness(50%);
        width: 100%;
    }

    .description{
        width: 90%;
    }

    .cityDesc{
        display: none;
    }

    .titlePM{
        position: absolute;
        margin: 0;
        top: 60%;
        left: 37%;
        margin: -50px 0 0 -50px;
    }
    
    .introTitle{
        margin-top: 20%;
        font-size: 20px;
    }

    .cityTitle a{
        color: white;
    }
    
}
